[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = git://github.com/PaulStoffregen/OneWire.git
	
[submodule "libraries/DS2482"]
	path = libraries/DS2482
	url = git://github.com/habeIchVergessen/DS18B20_DS2482.git
